{% extends 'layout.html.twig' %}

{% block title %}Hello {{ Titre }} !{% endblock %}

{% block body %}
    <h2>{{ Titre }}</h2>
    <div>
    <p>{{ Description }}</p>

    {% if CollectionTexts is defined %}
        {% for Text in CollectionTexts %}
            <br>
            <p>{{Text}}</p>
        {% endfor %}
    {% endif %}
    
    </div>
{% endblock %}
