*{
    margin : 0 ;
    font-family: "Segoe UI Semibold", sans-serif;
}
a{
    text-decoration: none;
}

/*!* ------ 1er bandeau du header ( icone réseaux sociaux + Connexion ) *!*/

/*.social_and_cnx{*/
/*    background-color: #01406C;*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    font-size: 12px;*/
/*    height: 40px;*/
/*    align-items: center;*/
/*}*/

/*.social_link{*/
/*    align-content: center;*/
/*    width : 15%;*/
/*}*/

/*.cnx_sub{*/
/*    width : 40%;*/
/*}*/

/*.fab{*/
/*    color: #FFFFFF;*/
/*  padding-right: 3%;*/
/*}*/
/*.fas{*/
/*    !*color : #FFFFFF; <= Si décommenté, deviens prioritaire sur les classes enfants *!*/
/*    padding-right: 3%;*/
/*}*/

/*.social_icon{*/
/*    color : #FFFFFF;*/
/*}*/

/*.fa15x{*/
/*    font-size : 1.5rem;*/
/*}*/

/*.cnx{*/
/*    color: #FFFFFF;*/
/*    margin-right: 6%;*/
/*}*/
/*.sub{*/
/*    color : #CB9400;*/

/*}*/

/*!* ------- 2é bandeau du header ( logo + bannière pub + menu )*!*/

/*.logo_menu{*/
/*    background-color: #2094EB;*/
/*    display: flex;*/

/*}*/

/*.logo{*/
/*    padding: 1% 7% 0% 5%;*/

/*}*/

/*.headbandPub_nav{*/
/*    width: 75%;*/
/*   margin-left: 7%;*/
/*    padding-top : 1%;*/

/*}*/


/*.li_header_nav{*/
/*    font-size: 30px;*/
/*    padding-top : 1%;*/
/*    padding-right : 4%;*/
/*    padding-bottom: 1%;*/

/*}*/

/*!* ------ 1er bandeau du header ( icone réseaux sociaux + Connexion ) *!*/
.social_and_cnx{
    background-color: #01406C;
    font-size: 18px;
    padding: 5px 60px;

}
.social_icon{
    color : #FFFFFF;
    padding-right: 1%;
}

.cnx{
    color: #FFFFFF;
    margin-right: 6%;
}

.sub{
    color : #CB9400;
}

/* ------- 2é bandeau du header ( logo + bannière pub + menu )*/

.logo_menu{
    background-color: #2094EB;
    padding: 10px 67px 10px 20px;
}

.headbandPub_nav{
    padding-top : 1%;
}

.li_header_nav{
    font-size: 18px;

}
/* pb avec la couleur du texte de la barre de navigation*/
.nav-link{
    color: #FFFFFF;
}

.btn{
    color: #000;
}
.navbar-nav{
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-between !important;
    width: 100% !important;
}
.block_most_read .card-slider{
    height: 270px;
}
.block_most_read .card-slider img{
    height: 160px;
}
.top-search-home{
    align-items: center;
}
.top-search-home .col-3{
    display: flex;
    align-items: center;
}
.top-search-home .col-3 input,
.top-search-home .col-3 select{
    border: 1px solid #B3B3B2 !important;
    background: #fff !important;
    transition: .3s all !important;
    height: 40px !important;
    width: 56%;
    margin-left: 5px;
    padding-left: 6px;
}
.top_h3 {
    border-top: solid 6px #2094EB;
    width: fit-content;
    color: #2094EB;
    margin-top: 15px;
}