/*.block_actu_dossier{*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*}*/

/*.block_actu{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
.flash{
    font-size: large;
    font-weight: bold;
    padding: 1%;
    text-align: center;
}

.flash-success{
    background-color: #66b377;
}

