{% extends 'general/layout_info_thematic.html.twig' %}

{% block info %}
    <h3 class="top_h3">Qui sommes-nous </h3>
    <h3>Prévoyance Finance</h3>
    <p>Omitto iuris dictionem in libera civitate contra leges senatusque
        caedes relinquo; libidines praetereo, quarum acerbissimum
        extat indicium et ad insignem memoriam turpitudinis et paene...
    </p>

{% endblock %}
