{% extends 'general/layout_info_thematic.html.twig' %}

{% block info %}
    <h1>Qui sommes-nous </h1>
    <h2>Prévoyance Finance</h2>
    <p>Omitto iuris dictionem in libera civitate contra leges senatusque
        caedes relinquo; libidines praetereo, quarum acerbissimum
        extat indicium et ad insignem memoriam turpitudinis et paene...
    </p>

{% endblock %}
