{% extends 'general/layout_info_thematic.html.twig' %}

{% block info %}
    <h3 class="top_h3">Epargne</h3>
    <h3>Pourquoi épargner?</h3>
    <p>Omitto iuris dictionem in libera civitate contra leges senatusque
        caedes relinquo; libidines praetereo, quarum acerbissimum
        extat indicium et ad insignem memoriam turpitudinis et paene...
    </p>
    <img src="{{ asset('img/assur-carte-pro_main.jpg') }}" alt="##">
    <p>
        Omitto iuris dictionem in libera civitate contra leges senatusque consulta;
        caedes relinquo; libidines praetereo, quarum acerbissimum
        extat indicium et ad insignem memoriam turpitudinis et paene...
    </p>
{% endblock %}
{% block currentOffer %}
    <h3>Offre en cours :
    {% for savingCurrentOffer in savingCurrentOffers %}
        <h5>{{ savingCurrentOffer.artName }}</h5>
        <img src="{{ asset('/uploads/images/'~ savingCurrentOffer.artImg) }}" alt="">
        <p>{{ savingCurrentOffer.shortDescription }}</p>
    {% endfor %}
{% endblock %}