{% extends "layout.html.twig" %}

{% block main %}

    <div>
        <div>
    {%  block info %}

    {% endblock %}
        </div>

    {# partie contact #}
        <h2>Vous avez une question ? </h2>
        <p>Contactez : </p>
        <div>
            {# emplacement de la carte de contact #}
        </div>
        <a href="{{ path('contact') }}">Me contacter</a>

        <div>

{% block currentOffer %}

{% endblock %}
        </div>
    </div>

    {# Partie offre du moment #}

    {% include 'inc/dossier.html.twig' %}

{% endblock %}