{% extends 'layout.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block main %}
<div class="container">
<div class="row">
<div class="col-md-8 contact-form">
 <h3 class="top_h3">{{ Titre }}</h3>
    <div> <!-- Card -->
<div class="card-contact">
    <div class="card-links">
   <img src="/uploads/images/contact.PNG">
    </div>
</div>

<h2>Prise de contact</h2>

{{form(PriseDeContact)}}
</div>
</div>
</div>
</div>

{% endblock %}
