{% extends 'layout.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block main %}
    <h2>{{ Titre }}</h2>
    <div> <!-- Card -->
<p>Nom Prénom</p>
<p>Statut</p>
<p>Mail</p>
<p>Téléphone</p>
<img src="" alt="facebook">
<img src="" alt="twitter">
<img src="" alt="Instagram">
<img src="" alt="LinkedIn">

<h2>Prise de contact</h2>

{{form(PriseDeContact)}}

{% endblock %}
