{%  extends "layout.html.twig" %}

{% block main %}

{{ form_start(auditPartSevenForm) }}
{{ form_row(auditPartSevenForm) }}

    <button type="submit" class="btn">Terminer</button>
{{ form_end(auditPartSevenForm) }}

{%  endblock%}