{%  extends "layout.html.twig" %}

{% block main %}
    {% block flash %}
        {{ parent() }}
    {% endblock %}


{{ form_start(auditPartSevenForm) }}
{{ form_widget(auditPartSevenForm) }}

    <button type="submit" class="btn">Terminer</button>
{{ form_end(auditPartSevenForm) }}

{%  endblock%}