<!-- include du header-->

<!-- div global du header -->
<div>
    <!-- div bandeau réseau sociaux + se connecter -->
    <div class="social_and_cnx">
        <div class="social_link">
            <a href="facebook.com"> <i class="fab fa-facebook-square fa-3x"></i> </a>
            <a href="twiter.com"><i class="fab fa-twitter fa-3x"></i></a>
            <a href="instagram.com"><i class="fab fa-instagram fa-3x"></i></a>
            <a href="linkedin.com"><i class="fab fa-linkedin-in fa-3x"></i></a>
            <a href="#"><i class="fas fa-phone-alt fa-3x"></i></a><!--téléphone-->
            <a href="#"><i class="fas fa-envelope fa-3x"></i></a><!--mail-->
        </div>
        <div class="cnx_sub">
            <a href="#"> <i class="fas fa-user fa-2x"></i> SE CONNECTER</a>
            <a href="#"> S'ABONNER GRATUITEMENT</a>
        </div>

    </div>
    <div class="logo_menu">
        <div class="logo">
            <img src="{{asset('img/unknown.png') }}" alt="Logo du site Prévoyance Finance">
        </div>
        <div class="headband_img_nav">
            <div class="headband">
                <img src="" alt="image banière du site ">
            </div>
            <div class="header_nav">
                <ul>
                    <li>Mutuelle</li>
                    <li>Prévoyance</li>
                    <li>Epargne</li>
                    <li>Retraite</li>
                    <li>Impôts</li>
                    <li>Sucession</li>
                </ul>
            </div>
        </div>
    </div>


</div>