<!-- include du header-->

<!-- div global du header -->
<div>
    <!-- div bandeau réseau sociaux + se connecter -->
    <div class="social_and_cnx">
        <div class="social_link">
            <a href="facebook.com"></a>
            <a href="twiter.com"></a>
            <a href="instagram.com"></a>
            <a href="linkedin.com"></a>
            <a href="#"></a><!--téléphone-->
            <a href="#"></a><!--mail-->
        </div>
        <div class="cnx_sub">
            <a href="#"> SE CONNECTER</a>
            <a href="#"> S'ABONNER GRATUITEMENT</a>
        </div>

    </div>
    <div class="logo_menu">
        <div class="logo">
            <img src="" alt="Logo du site Prévoyance Finance">
        </div>
        <div class="headband_img_nav">
            <div class="headband">
                <img src="" alt="image banière du site ">
            </div>
            <div class="header_nav">
                <ul>
                    <li>Mutuelle</li>
                    <li>Prévoyance</li>
                    <li>Epargne</li>
                    <li>Retraite</li>
                    <li>Impôts</li>
                    <li>Sucession</li>
                </ul>
            </div>
        </div>
    </div>


</div>