<!-- Modif du header pour la vue admin -->
<li class="li_hover li_header_nav"><a href="{{ path("homeback") }}">Tableau de bord </a> </li>
<li class="li_hover li_header_nav"><a href="{{ path("listArticle") }}">Liste des articles </a> </li>
<li class="li_hover li_header_nav"><a href="">Création d'un article </a> </li>
<li class="li_hover li_header_nav"><a href="">Liste des Audits </a> </li>